{
  "port":"" ,
  "appName": "",
  "appEnv": "local",
  "signatureKey": "",
  "database": {
    "host": "localhost",
    "port":"" ,
    "name": "",
    "username": "postgres",
    "password": "",
    "maxOpenConnection": 10,
    "maxLifetimeConnection": 10,
    "maxIdleConnection": 10,
    "maxIdleTime": 10
  },
  "rateLimiterMaxRequest": 1000,
  "rateLimiterTimeSecond": 60,
  "jwtSecretKey": "",
  "jwtExpirationTime": 1440
}
